app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  [ui-view] {
    flex: 1;
  }
}

.footer {
  min-height: 40px;
  display: flex;
  justify-content: center;
  background-color: #e7e7e7;
  span {
    align-self: center;
  }
}

// support
.no-outline {
  outline: none;
}

.w {
  &-100 {
    width: 100px;
  }
  &-150 {
    width: 150px;
  }
}

table>tbody>tr>td.align-middle {
  vertical-align: middle;
}
